<div id="index">
  <div id="left">
    <div class="hidden" id="title">
      <h1>
        The Working Pair
      </h1>
    </div>
    <div class="hidden" id="names">
      {{!< default }}{{#foreach posts}}
      <h2 class="name">
        <a href="{{{ url }}}">{{ title }}</a>
      </h2>
      {{/foreach}}
    </div>
    {{#if pagination.prev}}{{pagination}}{{else}}{{#if pagination.next}}{{pagination}}{{/if}}{{/if}}
  </div>
  <div class="small-12 columns" id="image"></div>
  <div id="contact">
    <h3>
      ?
    </h3>
  </div>
  <a class="mail-to" href="mailto:rachael@human-nyc.com" target="_blank">
    <div class="hidden" id="by-line">
      By Rachael Yaeger
    </div>
  </a>
</div>
